:root {
    --theme-color: #ffb300;
    --theme-color-hover: #e04b00;
    --text-color: #10285d;
    /* Dark Blue from Malondindo p tags */
    --heading-color: #212025;
    /* Black/Dark Grey from Malondindo headings */
    --bg-gray: #f7f7fd;
    --white: #ffffff;

    --font-poppins: 'Poppins', sans-serif;
    --font-josefin: 'Josefin Sans', sans-serif;
}

body {
    font-family: var(--font-poppins);
    color: var(--text-color);
    background-color: var(--white);
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
    color: var(--heading-color);
    font-weight: 600;
    /* Usually 500 or 600 in Malondindo */
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    font-family: var(--font-poppins);
    color: var(--text-color);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--theme-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Utilities */
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* Buttons */
.btn-theme {
    background: var(--theme-color);
    color: #fff;
    padding: 15px 44px;
    /* Adjusted padding */
    display: inline-block;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.btn-theme:hover {
    background: var(--theme-color-hover);
    color: #fff;
}

.btn-border {
    border: 1px solid var(--theme-color);
    color: var(--text-color);
    background: transparent;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 500;
}

.btn-border:hover {
    background: var(--theme-color);
    color: #fff;
}